<h1>Buchformular</h1>
<form [formGroup]="bookForm" (ngSubmit)="save()" class="ui large form" novalidate>
  <div class="field">
    <label>Titel</label>
    <input type="text" formControlName="title">
    <div *ngIf="errors.title" class="ui negative message">{{ errors.title }}</div>
  </div>
  <div class="field">
    <label>Untertitel</label>
    <input type="text" formControlName="subtitle">
  </div>
  <div class="field" [class.disabled]="isUpdatingBook">
    <label>ISBN</label>
    <input type="text" formControlName="isbn">
    <div *ngIf="errors.isbn" class="ui negative message">{{ errors.isbn }}</div>
  </div>
  <div class="field">
    <label>Erscheinungsdatum</label>
    <input type="date" formControlName="published" useValueAsDate>
    <div *ngIf="errors.published" class="ui negative message">{{ errors.published }}</div>
  </div>
  <div class="field">
    <label>Autoren</label>
    <div class="fields" formArrayName="authors">
      <div class="fifteen wide field" *ngFor="let autControl of authors.controls; let i=index">
        <div class="field">
          <input type="text" placeholder="{{i + 1}}.Autor" [formControlName]="i">
        </div>
      </div>
      <div class="one wide field">
        <button class="ui large button" (click)="addAuthorControl()" type="button"> + </button>
      </div>
    </div>
    <div *ngIf="errors.authors" class="ui negative message">{{ errors.authors }}</div>
  </div>
  <div class="field">
    <label>Beschreibung</label>
    <textarea type="text" formControlName="description" rows="3"></textarea>
  </div>
  <div class="field">
    <label>Bilder</label>
    <div formArrayName="thumbnails">
      <div class="fields" *ngFor="let thumbnailControl of thumbnails.controls; let j=index" [formGroupName]="j">
        <div class="nine wide field">
          <input formControlName="url" type="text" placeholder="http://bild{{j+1}}Bild_url">
        </div>
        <div class="six wiede field">
          <input formControlName="title" type="text" placeholder="Bild {{j+1}} Titel">
        </div>
        <div class="one wide field">
          <button type="button" (click)="addThumbnailControl()" class="ui large button"> + </button>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="ui button" [disabled]="bookForm.invalid">Speichern</button>
</form>
